server {
    listen       ${PORT:-80};
    server_name  _;

    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $$uri /index.html;
    }

    location /api/v1/motel/by-code/5fe35486101c936f12834405 {
        proxy_pass https://go-react-heroku.herokuapp.com;
    }

    location /api {
        proxy_pass https://go-react-heroku.herokuapp.com;
    }

    location /api/v1/file {
        proxy_pass http://149.28.157.34:8081;
    }

    location https://149.28.157.34:8081/api/v1/file/static/5fe4449ddea32ad58a5b7a0f {
        proxy_pass http://149.28.157.34:8081;
    }

}
