.ParentImage {
  height: 500px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}
.ParentImageFullScreen{
  height: 700px;
}
.ChildImage {
  width: 150px;
  height: 100px;
  border-Radius: 5px;
  margin-Left: 80px
}

.title {
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}