header > a {
	color: #000000 !important;
}
.ant-layout-header {
	height: 50px;
	line-height: 32px;

}

div > a {
	padding: 5px 10px;
	font-size: 16px;
	color: #000000;
	&:active {
		color: #1890ff;
	}
}

.page-title{
	a{
		text-transform:  uppercase;
	}
	position: sticky;
	top:0;
	padding: 15px;
	background: #ffffff;
	z-index: 1;
	
}

.title{
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom : 30px
}

.ant-layout-footer{
	text-align: left;
	padding-left: 100px;
	padding-right: 100px;
	div>a{
		display: block;
		color: #000000;
		padding: 5px;
		text-align: left;
	}
}

.payment{
	img{
		padding: 10px;
	}
}